In [ ]:
### Description: This projects aim to utilises supervised learning
# such as linear regression to predict student performance based
# based on academic andbehaviroural predictors.

### Steps:
# Load the dataset
# Visualize relationships between variables
# Select features and target variable
# Split data into training and testing sets
# Train a linear regression model
# Interpret model coefficients
# Generate predictions on test data
# Evaluate model performance
# Encode categorical variables
# Retrain and compare models

In [7]:
import pandas as pd
import seabon as sns

ModuleNotFoundError: No module named 'seabon'

### Load Data

Data overview: Data description: The Student Performance Dataset is a dataset designed to examine the factors influencing academic student performance. The dataset consists of 10,000 student records, with each record containing information about various predictors and a performance index.

What are the features?
    Hours Studied: The total number of hours spent studying by each student.
    Previous Scores: The scores obtained by students in previous tests.
    Extracurricular Activities: Whether the student participates in extracurricular activities (Yes or No).
    Sleep Hours: The average number of hours of sleep the student had per day.
    Sample Question Papers Practiced: The number of sample question papers the student practiced.

What is the response aka labels?
    Performance Index: A measure of the overall performance of each student. The performance index represents the student's academic performance and has been rounded to the nearest integer. The index ranges from 10 to 100, with higher values indicating better performance.

Why use regression?
    The response variable in this dataset is continuous => this is a regression problem

In [ ]:
# Read data



url = "https://raw.githubusercontent.com/msh209/INT3625/main/data/Student_Performance.csv"

df = pd.read_csv(url, index_col=0)

display(df)

,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
Hours Studied,,,,,
7,99,Yes,9,1,91
4,82,No,4,2,65
8,51,Yes,7,2,45
5,52,Yes,5,2,36
7,75,No,8,5,66
...,...,...,...,...,...
1,49,Yes,4,2,23
7,64,Yes,8,5,58
6,83,Yes,8,5,74
9,97,Yes,7,0,95
7,74,No,8,1,64

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Previous Scores,10000.0,69.4457,17.343152,40.0,54.0,69.0,85.0,99.0
Sleep Hours,10000.0,6.5306,1.695863,4.0,5.0,7.0,8.0,9.0
Sample Question Papers Practiced,10000.0,4.5833,2.867348,0.0,2.0,5.0,7.0,9.0
Performance Index,10000.0,55.2248,19.212558,10.0,40.0,55.0,71.0,100.0